<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Definição do target de arquivo -->
		<target name="file" xsi:type="File" fileName="${basedir}/log.txt" layout="${longdate} | ${level:uppercase=true} | ${message}" />

		<!-- Definição do target de console -->
		<target name="console" xsi:type="Console" layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>

	<rules>
		<!-- Definição das regras de log -->
		<logger name="*" minlevel="Info" writeTo="file,console" />
	</rules>
</nlog>
