################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AppStopWatchNLog/.vs/AppStopWatchNLog
/AppStopWatchNLog/bin/Debug/net8.0
/AppStopWatchNLog/obj
